<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/error.css">
    <title>Ошибка</title>
</head>
<body>
    <div class="error-container">
        <img src="../img/Service/error-image.png" alt="Ошибка" class="error-image">
        <h1>Ой! Произошла ошибка</h1>
        <p>Что-то пошло не так...</p>
        <a href="javascript:history.back()" class="back-button">Вернуться назад</a>
    </div>
</body>
</html>
