@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Страница не найдена</title>
    <link rel="stylesheet" type="text/css" href="../css/404NotFound.css">
</head>
<body>
    <div class="error-container">
        <div class="error-text">
            <h1>404</h1>
            <p>Cтраница не найдена</p>
            <p>Запрошенный вами URL-адрес не найден на сервере</p>
            <a href="javascript:history.back()" class="back-link">Вернуться назад</a>
        </div>
    </div>
</body>
</html>
