@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Didact Gothic", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.error-image {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin-top: 10px;
    color: #777;
}

.back-button {
    margin-top: 20px;
    display: inline-block;
    line-height: 30px;
    padding: 0px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    text-decoration: none;
    background-color: #0056b3;
    transform: scale(1.05);
    color: #fff;
}

@media (max-width: 480px) {
    .error-container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .back-button {
        padding: 8px 16px;
    }
}
